- if user_signed_in?
  = render 'dashboard'
- else
  .row
    .col-md-6.col-md-offset-3
      %div{style: 'text-align: center;'}
        %h1 n2jkAcademy3
        = link_to 'users/auth/github', class: 'btn btn-primary btn-block btn-lg' do
          = fa_icon 'github'
          Githubで新規登録 / ログイン
